.wrapper {
    // padding: 20px 0 26px 8px;
    width: var(--sidebar-width);
    position: fixed;
    height: 100vh;
    border-radius: 6px;
}
.logo-img-wrapper {
    width: 100%;
    text-align: center;
    .logo-img {
        width: 80px;
        object-fit: contain;
    }
}

@media (max-width: 991.98px) {
    // .wrapper {
    //     display: none;
    // }
}
