.wrapper {
}

.content-wrapper {
    background-color: #fff;
}
.content-header {
    padding: 16px 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}
.content-title {
    font-weight: 600;
    font-size: 1.8rem;
}
.content-subtitle {
}
.content-body {
    padding: 12px 20px;
}
.order-title {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 2rem;
}
.order-list {
    max-height: 500px;
    overflow-y: auto;
    background-color: #ccc;
    padding: 6px 20px;
    border-radius: 4px;
}
.order-item-wrapper {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.order-item-img {
    height: 40px;
    object-fit: contain;
}
.order-item-info {
}
.order-item-name {
    font-weight: 600;
    line-height: 1.2;
}
.order-item-topping {
    line-height: 1.2;
    font-size: 1.4rem;
}
