.wrapper {
    background: var(--radial-gradient-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}

.inner {
    padding: 0 var(--default-layout-horizontal-spacer);
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-group {
    display: flex;
    align-items: center;
}

.logo-wrapper {
    // min-width: 240px;
    margin-right: 15px;
    display: flex;
}
.logo {
    height: 110px;
    object-fit: cover;
}
.delivery-wrapper {
    border-radius: 100px;
    width: 240px;
    height: 40px;
    background: rgb(236, 239, 241);
    font-size: 1.4rem;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        opacity: 0.8;
    }
}
.delivery-img {
    height: 36px;
    object-fit: cover;
    flex-shrink: 0;
    margin: 0 10px;
}
.delivery-body {
    margin-right: 8px;
}
.delivery-title {
    font-weight: 700;
    color: var(--primary-color);
}
.delivery-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1.2rem;
    line-height: 1.2;
    -webkit-line-clamp: 1;
}
.delivery-no-address {
    font-size: 1.2rem;
    line-height: 1.2;
}
.actions {
    margin-left: 8px;
    display: flex;
    align-items: center;
    position: relative;
    .action-icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 3rem;
        padding: 10px;
        &:hover {
            opacity: 0.8;
        }
    }
}
.login-btn {
    margin-left: 10px;
}

//Sidebar
